<%= render 'shared/errors', object: @user %>

<%= form_with model: @user do |f| %>
  <div class="mb-3 row">
    <div class="col-sm-2 col-form-label">
      <%= f.label :email %>
    </div>

    <div class="col-sm-10">
      <%= f.email_field :email, placeholder: 'E-mail', class: 'form-control-lg' %>
    </div>
  </div>

  <div class="mb-3 row">
    <div  class="col-sm-2 col-form-label" >
      <%= f.label :full_name %>
    </div>

    <div class="col-sm-10">
      <%= f.text_field :full_name, placeholder: 'Full Name', class: 'form-control-lg' %>
    </div>
  </div>

  <div class="mb-3 row">
    <div class="col-sm-2 col-form-label">
      <%= f.label :role %>
    </div>

    <div class="col-sm-10">
      <%= f.text_field :role, class: 'form-control-plaintext form-control-lg', readonly: true %>
    </div>
  </div>

  <div class="mb-3 row">
    <div  class="col-sm-2 col-form-label" >
      <%= f.label :birthday %>
    </div>

    <div class="col-sm-10">
      <%= f.date_select :birthday, { order: [:day, :month, :year], prompt: { day: 'Select day', month: 'Select month', year: 'Select year' }, start_year: Date.today.year - 60, end_year: Date.today.year, class: 'form-control-lg' } %>    </div>
  </div>

  <div class="mb-3 row">
    <div  class="col-sm-2 col-form-label" >
      <%= f.label :address %>
    </div>

    <div class="col-sm-10">
      <%= f.text_field :address, placeholder: 'Enter your address', class: 'form-control-lg' %>
    </div>
  </div>

  <div class="mb-3 row">
    <div  class="col-sm-2 col-form-label" >
      <%= f.label :city %>
    </div>

    <div class="col-sm-10">
      <%= f.text_field :city, placeholder: 'Enter your city', class: 'form-control-lg' %>
    </div>
  </div>

  <div class="mb-3 row">
    <div  class="col-sm-2 col-form-label" >
      <%= f.label :state %>
    </div>

    <div class="col-sm-10">
      <%= f.text_field :state, placeholder: 'Enter your state', class: 'form-control-lg' %>
    </div>
  </div>

  <div class="mb-3 row">
    <div  class="col-sm-2 col-form-label" >
      <%= f.label :country %>
    </div>

    <div class="col-sm-10">
      <%= f.text_field :country, placeholder: 'Enter your country', class: 'form-control-lg' %>
    </div>
  </div>

  <div class="mb-3 row">
    <div  class="col-sm-2 col-form-label" >
      <%= f.label :zip %>
    </div>

    <div class="col-sm-10">
      <%= f.text_field :zip, placeholder: 'Enter your zip code', class: 'form-control-lg' %>
    </div>
  </div>

  <div class="mb-3 row">
    <div  class="col-sm-2 col-form-label" >
      <%= f.label :password %>
    </div>

    <div class="col-sm-10">
      <%= f.password_field :password, class: 'form-control-lg' %>
    </div>
  </div>



  <div class="mb-3 row">
    <div  class="col-sm-2 col-form-label" >
      <%= f.label :password_confirmation %>
    </div>

    <div class="col-sm-10">
      <%= f.password_field :password_confirmation, class: 'form-control-lg' %>
    </div>
  </div>

  <% unless @user.new_record? %>
    <div class="mb-3 row">
      <div  class="col-sm-2 col-form-label" >
        <%= f.label :old_password %>
      </div>

      <div class="col-sm-10">
        <%= f.password_field :old_password, class: 'form-control-lg' %>
      </div>
    </div>
  <% end %>

  <%= f.submit (@user.new_record? ? 'Sign up' : "Save changes"), class: 'btn btn-primary' %>
<% end %>