<article class="card my-3">
  <section class="card-header">
    <%= advertisement.user.email %>
  </section>

  <div class="card-body">
    <h4><%= advertisement.title %></h4>

    <% if advertisement.image.present? %>
      <div class="border-top py-3">
        <%= image_tag advertisement.image.thumb('100x100').url, class: 'img-fluid' %>
      </div>
    <% end %>

    <section class="card-text">

      <div class="my-2">
        <%= render advertisement.tags %>
      </div>

      <p class="my-2">
        <%= truncate strip_tags(advertisement.body), length: 160, separator: ' ', omission: '...' %>
      </p>
    </section>

    <%= link_to 'Show', advertisement_path(advertisement), class: 'btn btn-primary' %>

    <% if policy(advertisement).edit? %>
      <%= link_to 'Edit', edit_advertisement_path(advertisement), class: 'btn btn-secondary' %>
    <% end %>

    <% if policy(advertisement).destroy? %>
      <%= button_to 'Delete', advertisement_path(advertisement), class: 'btn btn-danger' , method: :delete, data: {confirm: 'Are you sure?'} %>
    <% end %>
  </div>
</article>