<h1 class="mb-4"><%= @advertisement.title %></h1>

<p class="lead my-3">
  <%= @advertisement.body %>
</p>

<%= link_to 'Edit', edit_advertisement_path(@advertisement), class: 'btn btn-secondary' %>
<%= button_to 'Delete', advertisement_path(@advertisement), class: 'btn btn-danger' , method: :delete, data: {confirm: 'Are you sure?'} %>

<hr class="my-3">

<h2>Write your comment here</h2>

<%= render 'shared/errors', object: @comment %>

<%= form_with model: [@advertisement, @comment] do |f| %>
  <div class="mb-3 row">
    <div class="col-sm-2 col-form-label">
      <%= f.label :body %>
    </div>

    <div class="col-sm-10">
      <%= f.text_area :body, class: 'form-control' %>
    </div>
  </div>

  <%= f.submit "Add a comment", class: 'btn btn-primary' %>
  <% end %>

<h2 class="mt-5">Comments</h2>

<% @comments.each do |comment| %>
  <article class="mb-3">
    <time datetime="<%= commenestroyt.formatted_created_at %>">
      <%= comment.formatted_created_at %>
    </time>

    <p>
      <%= comment.body %>
    </p>

    <%= link_to 'Delete comment', advertisement_comment_path(@advertisement, comment), class: 'btn btn-danger btn-sm', data: {method: :delete, confirm: "Are you sure?"} %>
  </article>
<% end %>