<% provide :page_title, @advertisement.title %>
<% currently_at 'Advertisement' %>

<h1 class="mb-4"><%= @advertisement.title %></h1>

<div class="lead my-3">
  <%= sanitize @advertisement.body %>
</div>

<%= link_to 'Edit', edit_advertisement_path(@advertisement), class: 'btn btn-secondary' %>
<%= button_to 'Delete', advertisement_path(@advertisement), class: 'btn btn-danger' , method: :delete, data: {confirm: 'Are you sure?'} %>

<hr class="my-3">

<h2>Write your comment here</h2>

<%= render 'comments/form' %>

<h2 class="mt-5">Comments</h2>

<%= render partial: 'comments/comment', collection:  @comments, as: :comment, locals: {advertisement: @advertisement} %>