<% provide :page_title, @advertisement.title %>
<% currently_at 'Advertisement' %>

<h1 class="mb-4"><%= @advertisement.title %></h1>

<div class="lead my-3">
  <%= sanitize @advertisement.body %>
</div>

<div class="mb-3 fw-bold">
  <%=  @advertisement.user.email%>
</div>

<% if @advertisement.image.present? %>
  <div class="border-top py-3">
    <%= image_tag @advertisement.image.url, class: 'img-fluid' %>
  </div>
<% end %>


<% if current_user && @advertisement.editable_by?(current_user) %>
<div class="border-top py-3">
  <div class="btn-group">

      <%= link_to 'Edit', edit_advertisement_path(@advertisement), class: 'btn btn-secondary' %>

    <% if current_user && @advertisement.destroyable_by?(current_user) %>
      <%= button_to 'Delete', advertisement_path(@advertisement), class: 'btn btn-danger' , method: :delete, data: {confirm: 'Are you sure?'} %>
    <% end %>

  </div>
</div>
<% end %>

<hr class="my-3">

<% if current_user && @comment.create_by?(current_user) %>
<h2>Write your comment here</h2>

<%= render 'comments/form' %>
<% end %>

<h2 class="mt-5 mb-3">Comments</h2>

<%= render partial: 'comments/comment', collection:  @comments, as: :comment, locals: {advertisement: @advertisement} %>
